## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

In [ ]:
1.pyhton
2.R
3.java

Some of the commonly used libraries used by Data Scientists include:

In [ ]:
1.pandas
2.numpy
3.kernas

Data Science Tools

Data science   IBM watsan studio     power BI Excel

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
print(2+2)
print(2-2)
print(2*2)
print(10/2)

4
0
4
5.0

This a simple arithmetic expression to mutiply then add integers.

In [3]:
print((3*4)+5)

17

 This will convert 200 minutes to hours by diving by 60

In [4]:
print(200/60)

3.3333333333333335

## objective

List popular languages for Data Science

In [ ]:
pyhton
R
Scala

### Author

In [ ]:
SRIRAM P